div.musica
{
		display:block;
		position: relative;
		/*width: 10%;*/
		margin: 0 auto;
		max-width: 170px;
		padding: 2%;
		margin: 2%;
		border-radius: 10%;
		text-align: center;
		background-color: white;
		box-shadow: 0.6px 0.6px 0.7px #000;
		box-shadow: -0.6px -0.6px -0.7px #000;
    background-color: red;
}

div.linha-musica
{
		text-align: center;
		display: block;
		margin: 0 auto;
}

figure
{
    margin: 0 auto;
    display: block;
    position: relative;
}

figcaption
{
    text-align: center;
}

div#news1
{
}

div#news2
{
}

div#news3
{
}
